<h3>Buying on artnet Auctions</h3>
<ul>
  <li>artnet Auctions features 24/7 online auctions and immediate
     purchases of Modern and Contemporary paintings, prints,
     photographs, and more.</li>
  <li>All artworks offered on the site have been evaluated by artnet’s experienced specialists.</li>
  <li>Each auction listing provides comprehensive information about the artwork, including a detailed description, provenance, condition, and art market data to assist you with your decision to bid.</li>
  <li>Bidding on artnet Auctions is easy. In order to bid on an artwork, register to become an artnet buyer. Registration is simple and free of charge.</li>
  <li>Winning bidders receive step-by-step emails that guide them through the post auction process. The buyer pays the seller for the winning bid amount and taxes (if applicable), and arranges shipping using our partnered shippers or any shipper of their choice. artnet Auctions separately collects a 20% buyer's premium on all lots.</li>
  <li>artnet’s sellers guarantee the authenticity of every artwork listed on the site, and all bidders are protected by artnet’s Return Policy and Terms of Use.</li>
</ul>

<h3>Selling on artnet Auctions</h3>
<ul>
  <li>artnet Auctions helps you sell your Modern and Contemporary paintings, prints, photographs, and more.</li>
  <li>Auction season on artnet Auctions is 24/7. To become an approved seller, register an account and submit a sellers application. Our team of specialists will review your application, and respond to every application received.</li>
  <li>Our experienced specialists advise you on auction estimates, reserve prices, and photographing your artwork, in order to help your artwork sell.</li>
  <li>Collectors from around the world visit artnet Auctions every day, ensuring that you will reach a global audience of potential buyers.</li>
  <li>You benefit from artnet Auctions’ marketing. Your lots are eligible to be sent out in artnet Auctions weekly newsletters and artnet monthly newsletters, and to be published on our highly trafficked homepages.</li>
  <li>As an artnet Auctions seller, you will save on many costs associated with brick-and-mortar auction houses, such as catalogue printing, storage, return shipping, and insurance premiums.</li>
  <li>Lots with a reserve price under 10,000 USD are subject to a 150 USD listing fee.</li>
  <li>Auction lots are available for 7 to 14 days, which reduces the time it takes for you to get paid and increases your bottom line.</li>
  <li>artnet collects a seller's commission fee based on the hammer or purchase now price of the lot: </li>
</ul>
<table>
  <thead>
    <th>Hammer/Purchase Now </th>
    <th>Commission</th>
  </thead>
  <tbody>
    <tr>
      <td>Under 2,000 USD</td>
      <td>15%</td>
    </tr>
    <tr>
      <td>2,000–4,999 USD</td>
      <td>10%</td>
    </tr>
    <tr>
      <td>5,000–7,499 USD</td>
      <td>8%</td>
    </tr>
    <tr>
      <td>7,500–9,999 USD</td>
      <td>6%</td>
    </tr>
    <tr>
      <td>10,000 USD and above</td>
      <td>0%</td>
    </tr>
  </tbody>
</table>
