<h2>Contact us</h2>

<p>If you are having any issues with registering, buying,
selling or using the artnet Auctions website, please contact us.
We have support teams available via telephone and email in both
the United States and Germany.</p>
<p>Please provide us with as many details about your concern as
possible, including auction IDs, artist and title of the auction
lot, and your user screen and/or login names.<p>
