/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$carousel-control-position: -50px;
$max-width: 1050px;

body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #231F20;
}

.main-container {
  padding-top: 100px;
  max-width: $max-width;
  margin: 0 auto;
  min-height: 700px;
}


h1 {
    font-size: 20px;
    // for auction title
}

h2 {
  font-size: 19px;
  // for title over carousels in home page
}

.flash {
  height: 10px;
}

.notice {
  color:#458B00;
}

.alert {
  color: #cc0000;
}

p {
  color: #1F1B1C;
}

li {
  list-style-type: none;
}

.auction-box {
  float: left;
  width: 215px;
  height: 274px;
}

.auction-link {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 10px;
}

.form {
  width: 500px;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

.navbar-default  {
  height: 80px;
  background-color: #fff;
  max-width: $max-width;
  margin: 0 auto;

  .navbar-brand {
    position: relative;
    top: 20px;
    z-index: 15;
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
    border: none;
    background-color: white;
    cursor: pointer;
  }

  .navbar-toggle, .navbar-collapse {
    position: relative;
    top: 29px;
  }

   .navbar-nav > li > a {
     color: #000;
     z-index: 6;
     font-size: 12px;
   }
}

.bid-date {
  font-size: 11px;
}


.pages {
  padding: 0 150px 0 150px;
  font-size: 11px;
  color: #666;
  margin-top: -37px;
  letter-spacing: 0px;

  h3 {
    font-weight: bold;
    font-size: 18px;
  }

  li {
    list-style-type: disc;
  }
}

.about li {
  margin-top: 10px;
}


.carousel-control {
  padding-top:10%;
  width:5%;
  color: white;
  text-shadow: none;

  &.right {
    background-image: none;
    left: auto;
    right: $carousel-control-position;
  }

  &.left {
    background-image: none;
    right: auto;
    left: $carousel-control-position;
  }

  &:hover {
    color: #000;
    text-decoration: none;
    font-weight: normal;
  }
}

.carousel-inner {
  min-height: 435px;
}

.auction-description {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 47px;
}

.lot-image img {
  -webkit-box-shadow: 0px 0px 10px #888888;
  box-shadow: 0px 0px 10px #888888;
}

footer {
  position: relative;
  bottom: -200px;
  padding: 20px 0 20px 0;
  background-color: #000;

  li {
    display: inline;
    height: 100px;
    padding-right: 20px;

    a {
      color: #fff;
    }
  }
}
