/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
  padding-top: 100px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #231F20;
}

.notice {
  color:#458B00;
}

.alert {
  color: #cc0000;
}

li {
  list-style-type: none;
}

.navbar-brand {
  position: relative;
  top: 20px;
  z-index: 15;
}

nav {
  height: 80px;
}

.navbar-default {
  background-color: #fff;
}

.main-container {
  padding: 0 20px 0 20px;
}

.auction-box {
  float: left;
  width: 215px;
  height: 274px;
}



.auction-link {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 10px;

}

a, a:hover {
  text-decoration: none;
  color: #000;
}

.navbar-toggle {
  background-color: white;
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
  cursor: pointer;

}

.navbar-toggle, .navbar-collapse {
  position: relative;
  top: 29px;
}
.nav .navbar-nav li a {
  background-color: yellow;
  z-index: 6;
}


.navbar-default .navbar-nav > li > a {
  background-color: white;
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
}

footer {
  position: relative;
  bottom: -900px;
  padding: 20px 0 20px 0;
  background-color: #000;
}
footer li {
  display: inline;
  height: 100px;
  padding-right: 20px;
}

footer li a {
  color: #fff;
}
